@using EntityLayer.Concrete 
@model Contact

<div class="mt-3 px-1">
    <div class="h5">@Model.Title</div>
    <p>@Model.Description</p>
</div>
<div class="mt-53 px-1">
    <div class="row">
        <div class="col-sm-2">
            <div class="pb-1">E-posta:</div>
        </div>
        <div class="col-sm-10">
            <div class="pb-1 fw-bolder">@Model.Mail</div>
        </div>
        <div class="col-sm-2">
            <div class="pb-1">Telefon:</div>
        </div>
        <div class="col-sm-10">
            <div class="pb-1 fw-bolder">@Model.Phone</div>
        </div>
    </div>
</div>

