@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using EntityLayer.Concrete
@model List<Service> 

<div class="section px-3 px-lg-4 pt-5" id="services">
    <div class="container-narrow">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Hizmetlerim</h2>
        </div>
        <div class="text-center">
            <p class="mx-auto mb-3" style="max-width:600px">Sizlere aşağıda belirtilen başlıklardaki hizmetleri sunmaktan mutluluk duyuyorum. Bu hizmetler için iletişim kısmından bana ulaşabilirsiniz.</p>
        </div>
        <div class="row py-3">
            @{
                int counter = 0;
                foreach (var item in Model)
                {
                    counter += 100;
                    <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="@counter">
                        <img class="mb-2" src="@item.ImageUrl" width="96" height="96" alt="@item.Title.ToLower()" />
                        <div class="h5">@item.Title</div>
                    </div>
                }
            }
            @*<div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="100">
            <img class="mb-2" src="~/Template/images/services/web-design.svg" width="96" height="96" alt="web design" />
            <div class="h5">Web Design</div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="200">
            <img class="mb-2" src="~/Template/images/services/graphic-design.svg" width="96" height="96" alt="graphic design" />
            <div class="h5">Graphic Design</div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="300">
            <img class="mb-2" src="~/Template/images/services/ui-ux.svg" width="96" height="96" alt="ui-ux" />
            <div class="h5">UI/UX</div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="400">
            <img class="mb-2" src="~/Template/images/services/app-development.svg" width="96" height="96" alt="app development" />
            <div class="h5">App Development</div>
        </div>*@
        </div>
    </div>
</div>

