@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using EntityLayer.Concrete;

@model Feature;

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">Öne Çıkanlar Düzenleme Paneli</p>
            @using (Html.BeginForm("Index", "Feature", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.FeatureID)
                <div class="form-group">
                    <label>Başlık</label>
                    @Html.TextBoxFor(x => x.Header, new { @class = "form-control" })
                </div>
                <br />
                <div class="form-group">
                    <label>Ad</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                <br />
                <div class="form-group">
                    <label>Başlık</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                </div>
                <br />
                <button type="submit" class="btn btn-success mr-2">Güncelle</button>
            }
        </div>
    </div>
</div>



