@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="~/skydash/index.html">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/skydash/index.html">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tables">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Tablolar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#icons">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#auth">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#error">
                <i class="icon-ban menu-icon"></i>
                <span class="menu-title">Çıkış yap</span>
            </a>
            <div class="collapse" id="error">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/samples/error-404.html"> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="~/skydash/pages/samples/error-500.html"> 500 </a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
